.main-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.main-div ::deep .history-content{
    width: 90vw;
    max-height: 70vh;
    margin: 1vh;
    overflow-y:auto ;
}

    .main-div ::deep .mudpaper-history-content {
        border-radius: 10px;
        border: 4px thin gray;
        padding: 0.3rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1vh;
    }
